header{
  width: 100%;
  height: 95px;
  padding-top: 30px;
  @include outer-container;
  
  a{
    text-decoration: none;
  }
  h1{
    font-size: $size32;
  }
  .container{
    @include media($tablet){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.logo{
  @include inline-block;
  vertical-align: bottom;
  position: relative;
  padding-left: 50px;
  .icon-wig{
    font-size: $size32;
    position: absolute;
    top: -10px;
    left: 0;
    color: $colorgreen;
  }
  @include media($tablet) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.menu{
  vertical-align: bottom;
  float: right;
  @include clearfix;
  @include media($tablet) {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  ul{
    list-style: none;
    li{
      @include inline-block;
      margin-bottom: 10px;
      a{
        padding: 12px 13px;
        vertical-align: middle;
        display: block;
        @include transition (all 0.3s ease);
        &:hover{
          background: $colorgreen;
          color: $colorwhite;
        }
      }
    }
  }
}
