section.history
  .container
    p
      |Hace más de 40 años que me dedico a "fabricar cabelleras" comunmente llamadas pelucas, trabajo que defino como un arte, por lo tanto me considero una artista en el rubro.
