section.services
  .container
    p Si sufre de alguna enfermedad que afecte al crecimiento o genera perdida de cabello como ser alopecia o calvicie, o se encuentra bajo tratamiento de quimioterapia o simplemente por que desea realizar un cambio estetico a su cabellera puede contactarse con nosotros que con nuestros años de experiencia lo asesoraremos y brindaremos la mejor atención en la confección de su peluca.
    p Cada peluca se realiza con pelo natural tejiendo pelo por pelo en un casco de tela especial que se ajusta de manera perfecta a su cabeza ya que es confeccionado segun sus medidas por lo tanto su peluca es unica.
