$font-primary: 'Lato', sans-serif;

$weight-regular: 400;
$weight-light: 300;
$weight-bold: 700;
$weight-ultrabold: 900;


$colorblack: #444444;
$colorblack2: #000000;
$colorwhite: #ffffff;

$colorblue: #1bbc9b;
$colorblue2: #2d3e50;

$colorgrey: #ecf0f1;
$colorgrey2: #bec3c7;

$colorgreen: #1bbc9b;
$colorgreen2: #16a086;


$size16: em(16);
$size18: em(18);
$size20: em(20);
$size25: em(25);
$size32: em(32);
$size35: em(35);
$size40: em(40);
$size60: em(60);

