$font-primary: 'Lato', sans-serif;

$weight-regular: 400;
$weight-light: 300;
$weight-bold: 700;
$weight-ultrabold: 900;


$colorblack: #444444;

$colorwhite: #ffffff;

$colorblue: #1bbc9b;
$colorblue2: #2d3e50;

$colorgrey: #ecf0f1;
$colorgrey2: #bec3c7;

$colorgreen: #1bbc9b;
$colorgreen2: #16a086;
