.hero{
  position: relative;
  overflow: hidden;
  width: 100%;
  background: $colorblack2;
  .container{
    @include outer-container;
      padding-left: 25px;
      padding-right: 25px;

  }
  figure{
    // background: red;
      @include filter (grayscale(80%));
    img{
      opacity: 0.8;
      width: 100%;
      display: block;
    }
  }
  .hero-legend{
    position: absolute;
    top: 50%;
    color: $colorblack2;
    background: white;
    padding: 19px 10px;
    opacity: 0.8;
    max-width: 100%;
    @include media($tablet){
      @include outer-container;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    strong{
      color: $colorblue;
    }
    ol{
      bottom: -20px;
    }
  }
  .flex-viewport{
    @include outer-container;
    @include media($mobile){
      ul{
        li{
          font-size: $size20;
        }
      }
    }
    // width: 100%;
    text-align: center;
    .flex-active{
      border: 2px $colorblack solid;
    }
  }
  li{
    font-size: $size40;

  }
}

