.services{
  background: $colorblue2;
  color: $colorwhite;
  @include media($tablet) {
    @include span-columns(8);
    padding-right: 20px;
    padding-left: 20px;
  }
  .container{
    @include outer-container;
  }
  p{
    text-align: center;
    font-size: $size18;
  }
}
